# Django и основные библиотеки проекта
Django==4.2.7
djangorestframework==3.14.0
django-cors-headers==4.3.1

# Драйверы и доступ к БД
psycopg2-binary==2.9.7  # PostgreSQL

# Аутентификация и безопасность
djangorestframework-simplejwt==5.3.0

# Работа с медиа
Pillow==10.0.1

# Фильтрация и расширения
django-filter==23.3
django-extensions==3.2.3

# Очереди и фоновые задачи
celery==5.3.4
redis==5.0.1

# Реал-тайм стек
channels==4.0.0
channels-redis==4.1.0
daphne==4.0.0

# Тестирование
pytest==7.4.3
pytest-django==4.7.0
factory-boy==3.3.0

# Документация и геолокация
drf-yasg==1.21.7
geopy==2.4.0

# Переменные окружения
python-decouple==3.8
